body {
    font-family: 'SF Pro Display', sans-serif;
}

.center {
    padding: 0 calc(50% - 650px);
}

.wrapper {
    height        : 100vh;
    display       : flex;
    flex-direction: column;
    background: #999;
}

main {
    flex-grow: 1;
}

header {
    height         : 80px;
    background     : #5e5b5b;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.logo a {
    text-decoration: none;
    font-size      : 32px;
    color          : rgba(0, 0, 0, .6);
    text-shadow    : 3px 2px 3px rgba(255, 255, 255, .2);
}

.logo {
    transition: .6s !important;
}

.logo:hover {
    transition: all .4s;
    transform : scale(1.3);
}

.button {
    padding         : 0px 50px;
    border-radius   : 5px;
    background-color: #a9adaf;
    border          : 2px solid #292a2b;
    transition      : all .3s;

}

.button:hover {
    background-color: rgba(255, 255, 255);
    border-color    : #383e42;
}

.buy-btn:active {
    background: #FFFFFF;
    color     : #a9adaf;
}

.smal {
    height: 30px;
}

.goods-box {
    margin: 100px 0;
}

.products {
    display        : flex;
    justify-content: space-around;
    flex-wrap      : wrap;
}

.product-item {
    width        : 250px;
    border-radius: 15px;
    overflow     : hidden;
    box-shadow        : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition        : all 0.25s ease-in-out;
}

.product-item:hover {
    transform: scale(1.06);
    box-shadow        : 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.product-item-desc {
    margin: 10px 20px 20px 20px;
}

.product-item-desc p {
    margin: 5px 0px 10px 0px;
}

.cart {
    position: relative;
}

.cart-drop {
    display         : block;
    width           : 300px;
    position        : absolute;
    top             : 65px;
    left            : -200px;
    background-color: #fff;
    border-radius   : 5px;
    padding         : 14px;
    z-index         : 5;
    -ms-box-shadow  : 0 7px 20px rgba(0, 0, 0, 0.19), 0 5px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow   : 0 7px 20px rgba(0, 0, 0, 0.19), 0 5px 6px rgba(0, 0, 0, 0.23);
    box-shadow      : 0 7px 20px rgba(0, 0, 0, 0.19), 0 5px 6px rgba(0, 0, 0, 0.23);
}

.cart-drop:before {
    content      : '';
    width        : 0;
    height       : 0;
    position     : absolute;
    top          : -8px;
    left         : 250px;
    border-left  : 10px solid transparent;
    border-right : 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.invisible {
    display: none;
}

.cart-body {
    display        : flex;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
}

.cart-body:not(:last-child) {
    margin-bottom: 20px;
}

.cart-item-left {
    display: flex;
}


.cart-body img {
    align-self  : flex-start;
    margin-right: 10px;
}

.product-single-price {
    color    : #333;
    font-size: 10px;
    margin   : 5px 0;
}

.product-quantity {
    margin-top: 10px;
}

.del-btn {
    display      : inline-block;
    font-size    : 24px;
    border-radius: 50%;
    width        : 32px;
    height       : 32px;
    align-self   : center;
    text-align   : center;
    line-height  : 32px;
}

.product-item__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: #555;
}
.del-btn {
    text-decoration: none;
    color: #000;
    font-size: 28px;
}
footer {
    height         : 60px;
    background     : #2e2c2c;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}