<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="logo">Интернет-магазин</div>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field" v-model="searchLine">
                    <button class="btn-search" type="reset" @click="filterGoods()">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button" @click="vis = !vis">Корзина</button>
            </div>
            <div class="basket" :class="{invis: vis,vis: !vis}">
                <div class="product__basket" v-for="product of basketProducts" :key="product.id_product">
                    <img :src="imgCatalog" alt="Some img">
                    <div class="desc__basket">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price * quantity}}₽</p>
                        <p>{{ quantity }}</p>
                        <button class="buy-btn" @click="quantity++">+</button>
                        <button class="buy-btn" @click="quantity--">-</button>
                        <button class="buy-btn" @click="clearBasket()" >x</button>
                    </div>
                </div>
                <span>Корзина пуста</span>
            </div>
        </header>
        <main>
            <div class="products">
                <div  class="product-item" v-for="product of products" :key="product.id_product">
                    <img :src="imgCatalog" alt="Some img">
                    <div class="desc">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price}}₽</p>
                        <button class="buy-btn" @click="addProduct(product)" id="product.id_product">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>